body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to right, #05472A, #0F4C75);
    color: #000000;
    box-shadow: none;
    background: linear-gradient(to right, #0d482f, #1b4b6b);
    margin-bottom: 5px;
}

.body ul {
   margin-top: 5px !important;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #0d482f, #1b4b6b);
    min-width: 100px;
    box-shadow: none;
    text-align: justify;
    margin-bottom: 5px;

}


.container ul {
   
    margin-top:  5px !important;
}

.header, .footer {
    background: linear-gradient(to right, #0d482f, #1b4b6b);
    padding: 10px 0;
    text-align: center;
    box-shadow: none;
    background: linear-gradient(to right, #0d482f, #1b4b6b);
}

.content {
    margin: 5px 0;
    box-shadow: none;
    background: linear-gradient(to right, #0d482f, #1b4b6b);
    margin-bottom: 5px !important;
    }

.content ul {
    margin-top: 5px !important;
}
.button {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    background-color: #3f7c7b;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px #35c5c5;
    border-style: outset;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
    background-color: #5a6b7c; /* Better contrast */
}

.details {
    background: linear-gradient(to right, #0d482f, #1b4b6b);
    padding-left: 0px;
    padding-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    box-shadow: none;
    text-align: left;
}
.details + ul {
    margin-top: 5px !important;
}